/*
Imports
Base Rules
General
typography
reusable components
specific styling
*/


/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

/* Base rules */

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lora', serif;
  font-size: 10px;
  color: #ffe6d7;
}

/* General */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.7rem;
}

p {
  font-size: 1.8rem;
}

figcaption {
  font-size: 1.5rem;
  margin: 1em 0;
}

a {
    color: inherit;
}

#title {
  text-shadow: 0px 0px 0.4em rgba(255,230,215,0.5);
}

a:focus {
    outline: dotted #c07a60;
    color: #c0b430;
    background-color: #2c2323;  
}

a:hover {
    outline: dotted #c07a60;
    color: #c0b430;
    background-color: #2c2323;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4f3f40;
  padding: 2em auto;
}

/* User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size.

User Story #9: The img element should be centered within its parent element. */

img {
  width: 100%;
  max-width: 1000px;
  box-shadow: 0px 0px 12px -1px black;
}

@media screen and (max-width: 1032px) {
  main {
    padding: 0 2em;
  }
  h1 {
    font-size: 5vw;
  }
  figcaption {
    font-size: 2.5vw;
    margin: 1em 0;
  }
  h2 {
    font-size: 4.5vw;
  }
  p {
    font-size: 3vw;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 7vw;
  }
  figcaption {
    font-size: 4vw;
    margin: 1em 0;
  }
  h2 {
    font-size: 6.25vw;
  }
  p {
    font-size: 5vw;
  }
}

@media screen and (max-width: 300px) {
  h1 {
    font-size: 1.4rem;
  }
  figcaption {
    font-size: 0.7rem;
    margin: 1em 0;
  }
  h2 {
    font-size: 1.4rem;
  }
  p {
    font-size: 0.9rem;
  }
}
